## AudioBook Customer Analysis

* Predicting whether the customer will again buy another book or not!!!!

In [1]:
import pandas as pd
import numpy as np

In [49]:
data  = pd.read_csv('original (1).csv',header=None)

In [50]:
data.head()

     0       1     2      3      4   5      6     7       8   9    10  11
0   994  1620.0  1620  19.73  19.73   1  10.00  0.99  1603.8   5   92   0
1  1143  2160.0  2160   5.33   5.33   0   8.91  0.00     0.0   0    0   0
2  2059  2160.0  2160   5.33   5.33   0   8.91  0.00     0.0   0  388   0
3  2882  1620.0  1620   5.96   5.96   0   8.91  0.42   680.4   1  129   0
4  3342  2160.0  2160   5.33   5.33   0   8.91  0.22   475.2   0  361   0

In [51]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11
count,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000
mean,16772.491551,1591.281685,1678.608634,7.103791,7.543805,0.160750,8.909795,0.125659,189.888983,0.070222,61.935033,0.158833
std,9691.807248,504.340663,654.838599,4.931673,5.560129,0.367313,0.643406,0.241206,371.084010,0.472157,88.207634,0.365533
min,2.000000,216.000000,216.000000,3.860000,3.860000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8368.000000,1188.000000,1188.000000,5.330000,5.330000,0.000000,8.910000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,16711.500000,1620.000000,1620.000000,5.950000,6.070000,0.000000,8.910000,0.000000,0.000000,0.000000,11.000000,0.000000
75%,25187.250000,2160.000000,2160.000000,8.000000,8.000000,0.000000,8.910000,0.130000,194.400000,0.000000,105.000000,0.000000
max,33683.000000,2160.000000,7020.000000,130.940000,130.940000,1.000000,10.000000,1.000000,2160.000000,30.000000,464.000000,1.000000

Here 1st col is ID of customer and last col is Target.

* 1: Customer will buy.

* 0: Not buy

In [52]:
unscaled_data = data.values   # Converting dataframe to np.arrays

In [53]:
unscaled_input_data = unscaled_data[:,1:-1]   # Excluding 1st and Last column

target = unscaled_data[:,-1]

len(unscaled_input_data)

14084

## Shuffling data

In [54]:
shuffled_indicies = np.arange(unscaled_input_data.shape[0])

In [55]:
np.random.shuffle(shuffled_indicies)

In [56]:
shuffled_input = unscaled_input_data[shuffled_indicies]

In [57]:
shuffled_targets = target[shuffled_indicies]

In [58]:
sum(shuffled_targets)

2237.0

## Balancing Data

Since out data is unbaalanced... lots of 0's. So we need to balance data.

In [59]:
target_ones = int(np.sum(shuffled_targets))
target_ones

2237

In [60]:
indices_to_remove = []
zero_index_counter = 0

for i in range(target.shape[0]):
    if target[i]==0:
        zero_index_counter+=1
        if zero_index_counter>target_ones:
            indices_to_remove.append(i)

In [61]:
sum(indices_to_remove)

81630388

In [62]:
unscaled__balanced_input_data = np.delete(shuffled_input,indices_to_remove,axis=0)

In [63]:
target_balanced = np.delete(shuffled_targets,indices_to_remove,axis=0)
sum(target_balanced)

717.0

In [16]:
unscaled__balanced_input_data.shape

(4474, 10)

## Again Shuffling the data

In [17]:
shuffled_indicies = np.arange(unscaled__balanced_input_data.shape[0])

In [18]:
np.random.shuffle(shuffled_indicies)

In [19]:
shuffled_input = unscaled__balanced_input_data[shuffled_indicies]

In [20]:
shuffled_targets = target_balanced[shuffled_indicies]

## Standardising Data

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
scalar = StandardScaler()

In [23]:
scaled_input = scalar.fit_transform(unscaled__balanced_input_data)

## Splitting into train.test,validation set

* 80,10,10% split

In [24]:
sample_count = scaled_input.shape[0]

In [25]:
train_count = int(0.8*sample_count)
val_count = int(0.1*sample_count)
test_count = sample_count-train_count-val_count

In [26]:
X_train = scaled_input[ : train_count]

In [27]:
y_train = shuffled_targets[ : train_count]

In [28]:
X_val = scaled_input[train_count : train_count+val_count]
y_val = shuffled_targets[train_count : train_count+val_count]

In [29]:
X_test = scaled_input[train_count+val_count : ]
y_test = shuffled_targets[train_count+val_count : ]

#### Making sure each set is balanced

In [30]:
print(np.sum(y_train), train_count , np.sum(y_train)/train_count)
print(np.sum(y_val), val_count , np.sum(y_val)/val_count)
print(np.sum(y_test), test_count , np.sum(y_test)/test_count)

546.0 3579 0.15255658005029338
69.0 447 0.15436241610738255
74.0 448 0.16517857142857142