In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [2]:
df = pd.read_csv('churn.csv')

In [3]:
df.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [4]:
df.shape

(3333, 21)

In [5]:
cols = []
for col in df.columns:
    cols.append(col)

In [6]:
cols

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [7]:
df.describe()

,Account Length,Area Code,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [8]:
df['Churn?'].head()

0    False.
1    False.
2    False.
3    False.
4    False.
Name: Churn?, dtype: object

In [9]:
X = df.iloc[:,:-1]

In [10]:
X.shape

(3333, 20)

In [11]:
Y = df.iloc[:,-1]

In [12]:
Y.shape

(3333,)

In [13]:
X.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
State             3333 non-null object
Account Length    3333 non-null int64
Area Code         3333 non-null int64
Phone             3333 non-null object
Int'l Plan        3333 non-null object
VMail Plan        3333 non-null object
VMail Message     3333 non-null int64
Day Mins          3333 non-null float64
Day Calls         3333 non-null int64
Day Charge        3333 non-null float64
Eve Mins          3333 non-null float64
Eve Calls         3333 non-null int64
Eve Charge        3333 non-null float64
Night Mins        3333 non-null float64
Night Calls       3333 non-null int64
Night Charge      3333 non-null float64
Intl Mins         3333 non-null float64
Intl Calls        3333 non-null int64
Intl Charge       3333 non-null float64
CustServ Calls    3333 non-null int64
dtypes: float64(8), int64(8), object(4)
memory usage: 520.9+ KB

In [15]:
X.drop(['Phone'],axis=1,inplace=True)

In [16]:
X.shape

(3333, 19)

In [17]:
X.head()

,State,Account Length,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,KS,128,415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [18]:
categorical_features = ['State',"Int'l Plan",'VMail Plan']

In [19]:
X[categorical_features].head()

  State Int'l Plan VMail Plan
0    KS         no        yes
1    OH         no        yes
2    NJ         no         no
3    OH        yes         no
4    OK        yes         no

In [20]:
len(X['State'].value_counts())

51

In [21]:
X.drop('State',axis=1,inplace=True)

In [22]:
X['Intl Plan'] = pd.get_dummies(X['Int\'l Plan'],drop_first=True)

In [23]:
X.head()

,Account Length,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Intl Plan
0,128,415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,107,415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,137,415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,84,408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,1
4,75,415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,1

In [24]:
X.drop('Int\'l Plan',axis=1,inplace=True)

In [25]:
X.head()

,Account Length,Area Code,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Intl Plan
0,128,415,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,107,415,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,137,415,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,84,408,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,1
4,75,415,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,1

In [26]:
X['Vmail Plan'] = pd.get_dummies(X['VMail Plan'],drop_first=True)

In [27]:
X.head()

,Account Length,Area Code,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Intl Plan,Vmail Plan
0,128,415,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0,1
1,107,415,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0,1
2,137,415,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0,0
3,84,408,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,1,0
4,75,415,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,1,0

In [28]:
X.drop('VMail Plan',axis=1,inplace=True)

In [29]:
for col in X.columns:
    if sum(X[col].isna()) >0:
        print(col)
    else:
        print("No missing values in column : "+col)

No missing values in column : Account Length
No missing values in column : Area Code
No missing values in column : VMail Message
No missing values in column : Day Mins
No missing values in column : Day Calls
No missing values in column : Day Charge
No missing values in column : Eve Mins
No missing values in column : Eve Calls
No missing values in column : Eve Charge
No missing values in column : Night Mins
No missing values in column : Night Calls
No missing values in column : Night Charge
No missing values in column : Intl Mins
No missing values in column : Intl Calls
No missing values in column : Intl Charge
No missing values in column : CustServ Calls
No missing values in column : Intl Plan
No missing values in column : Vmail Plan

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
scaler = StandardScaler()

In [32]:
X_scaled = scaler.fit_transform(X)

In [33]:
X_scaled

array([[ 0.67648946, -0.52360328,  1.23488274, ..., -0.42793202,
        -0.32758048,  1.6170861 ],
       [ 0.14906505, -0.52360328,  1.30794844, ..., -0.42793202,
        -0.32758048,  1.6170861 ],
       [ 0.9025285 , -0.52360328, -0.59175986, ..., -1.1882185 ,
        -0.32758048, -0.61839626],
       ...,
       [-1.83505538,  1.71881732, -0.59175986, ...,  0.33235445,
        -0.32758048, -0.61839626],
       [ 2.08295458,  1.71881732, -0.59175986, ...,  0.33235445,
         3.05268496, -0.61839626],
       [-0.67974475, -0.52360328,  1.23488274, ..., -1.1882185 ,
        -0.32758048,  1.6170861 ]])

In [34]:
X_scaled = pd.DataFrame(X_scaled,columns=X.columns)

In [35]:
X_scaled.head()

,Account Length,Area Code,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Intl Plan,Vmail Plan
0,0.676489,-0.523603,1.234883,1.566767,0.476643,1.567036,-0.070610,-0.055940,-0.070427,0.866743,-0.465494,0.866029,-0.085008,-0.601195,-0.085690,-0.427932,-0.327580,1.617086
1,0.149065,-0.523603,1.307948,-0.333738,1.124503,-0.334013,-0.108080,0.144867,-0.107549,1.058571,0.147825,1.059390,1.240482,-0.601195,1.241169,-0.427932,-0.327580,1.617086
2,0.902529,-0.523603,-0.591760,1.168304,0.675985,1.168464,-1.573383,0.496279,-1.573900,-0.756869,0.198935,-0.755571,0.703121,0.211534,0.697156,-1.188218,-0.327580,-0.618396
3,-0.428590,-0.688834,-0.591760,2.196596,-1.466936,2.196759,-2.742865,-0.608159,-2.743268,-0.078551,-0.567714,-0.078806,-1.303026,1.024263,-1.306401,0.332354,3.052685,-0.618396
4,-0.654629,-0.523603,-0.591760,-0.240090,0.626149,-0.240041,-1.038932,1.098699,-1.037939,-0.276311,1.067803,-0.276562,-0.049184,-0.601195,-0.045885,1.092641,3.052685,-0.618396

In [36]:
Y1 = Y.map({'True.':1, 'False.':0})

In [37]:
Y1.head()

0    0
1    0
2    0
3    0
4    0
Name: Churn?, dtype: int64

In [40]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test,Y_train, Y_test = train_test_split(X_scaled ,Y ,test_size=.3,random_state=101)

In [42]:
from sklearn.tree import DecisionTreeClassifier

In [61]:
dtc= DecisionTreeClassifier()

In [62]:
dtc.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [63]:
pred = dtc.predict(X_test)

In [88]:
from sklearn.metrics import classification_report,confusion_matrix

In [65]:
print(confusion_matrix(Y_test,pred))

[[791  78]
 [ 39  92]]

In [66]:
print(classification_report(Y_test,pred))

              precision    recall  f1-score   support

      False.       0.95      0.91      0.93       869
       True.       0.54      0.70      0.61       131

    accuracy                           0.88      1000
   macro avg       0.75      0.81      0.77      1000
weighted avg       0.90      0.88      0.89      1000

In [67]:
from sklearn.ensemble import RandomForestClassifier

In [68]:
rfc = RandomForestClassifier(max_depth=5,n_estimators=10,max_features=10)

In [69]:
rfc.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=5, max_features=10, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [70]:
pred_rfc = rfc.predict(X_test)

In [78]:
print(confusion_matrix(Y_test,pred_rfc))

[[851  18]
 [ 48  83]]

In [77]:
print(classification_report(Y_test,pred_rfc))

              precision    recall  f1-score   support

      False.       0.95      0.98      0.96       869
       True.       0.82      0.63      0.72       131

    accuracy                           0.93      1000
   macro avg       0.88      0.81      0.84      1000
weighted avg       0.93      0.93      0.93      1000

In [73]:
from sklearn.svm import SVC

In [74]:
svc = SVC(C=0.025,kernel='linear')

In [75]:
svc.fit(X_train,Y_train)

SVC(C=0.025, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [82]:
pred_svc_0_025 = svc.predict(X_test)

In [83]:
print(confusion_matrix(Y_test,pred_svc_0_025))

[[869   0]
 [131   0]]

In [84]:
print(classification_report(Y_test,pred_svc_0_025))

              precision    recall  f1-score   support

      False.       0.87      1.00      0.93       869
       True.       0.00      0.00      0.00       131

    accuracy                           0.87      1000
   macro avg       0.43      0.50      0.46      1000
weighted avg       0.76      0.87      0.81      1000

/home/shivam/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [85]:
svc_new = SVC(C=100,kernel='linear')

In [ ]:
svc_new.fit(X_train,Y_train)

In [ ]:
pred_svc= svc_new.predict(X_test)

In [ ]:
print(confusion_matrix(pred_svc,Y_test))

In [ ]:
print(classification_report(pred_svc,Y_test))

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression()

In [ ]:
lr.fit(X_train,Y_train)

In [ ]:
pred_lr = lr.predict(X_test)

In [ ]:
print(confusion_matrix(pred_lr,Y_test))

In [ ]:
print(classification_report(pred_lr,Y_test))

In [38]:
import tensorflow as tf

In [58]:
X_train_values = X_train.values
X_train_values.

array([[ 0.47556588,  1.71881732, -0.59175986, ..., -0.42793202,
        -0.32758048, -0.61839626],
       [-1.18205372, -0.52360328, -0.59175986, ...,  0.33235445,
         3.05268496, -0.61839626],
       [-0.20255123, -0.52360328, -0.59175986, ..., -1.1882185 ,
        -0.32758048, -0.61839626],
       ...,
       [-0.93089924, -0.52360328, -0.59175986, ..., -0.42793202,
        -0.32758048, -0.61839626],
       [ 1.45506837, -0.52360328, -0.59175986, ..., -0.42793202,
        -0.32758048, -0.61839626],
       [-1.40809276, -0.68883427, -0.59175986, ..., -0.42793202,
        -0.32758048, -0.61839626]])

In [70]:
Y_train_values = Y_train.map({'True.':1.0,'False.':0.0}).values

In [71]:
Y_train_values

array([0., 1., 0., ..., 0., 0., 0.])

In [72]:
model = tf.keras.Sequential([tf.keras.layers.Dense(128,activation='relu',input_dim=18),
                            tf.keras.layers.Dense(128,activation = 'relu'),
                            tf.keras.layers.Dense(1,activation='sigmoid')])

In [78]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [79]:
model.fit(X_train_values,Y_train_values,epochs=100)

Train on 2333 samples
Epoch 1/100
2333/2333 [==============================] - 2s 739us/sample - loss: 0.1551 - accuracy: 0.9507
Epoch 2/100
2333/2333 [==============================] - 1s 299us/sample - loss: 0.1489 - accuracy: 0.9546
Epoch 3/100
2333/2333 [==============================] - 1s 275us/sample - loss: 0.1417 - accuracy: 0.9554
Epoch 4/100
2333/2333 [==============================] - 1s 294us/sample - loss: 0.1310 - accuracy: 0.9593
Epoch 5/100
2333/2333 [==============================] - 1s 272us/sample - loss: 0.1287 - accuracy: 0.9576
Epoch 6/100
2333/2333 [==============================] - 1s 353us/sample - loss: 0.1219 - accuracy: 0.9623
Epoch 7/100
2333/2333 [==============================] - 1s 252us/sample - loss: 0.1217 - accuracy: 0.9623
Epoch 8/100
2333/2333 [==============================] - 1s 274us/sample - loss: 0.1111 - accuracy: 0.9666
Epoch 9/100
2333/2333 [==============================] - 1s 309us/sample - loss: 0.1041 - accuracy: 0.9704
Epoch 10/100
2333/2333 [==============================] - 1s 291us/sample - loss: 0.0981 - accuracy: 0.9709
Epoch 11/100
2333/2333 [==============================] - 1s 298us/sample - loss: 0.0945 - accuracy: 0.9696
Epoch 12/100
2333/2333 [==============================] - 1s 329us/sample - loss: 0.0887 - accuracy: 0.9747
Epoch 13/100
2333/2333 [==============================] - 1s 309us/sample - loss: 0.0845 - accuracy: 0.9764
Epoch 14/100
2333/2333 [==============================] - 1s 354us/sample - loss: 0.0825 - accuracy: 0.9756
Epoch 15/100
2333/2333 [==============================] - 1s 373us/sample - loss: 0.0792 - accuracy: 0.9773
Epoch 16/100
2333/2333 [==============================] - 1s 299us/sample - loss: 0.0761 - accuracy: 0.9764
Epoch 17/100
2333/2333 [==============================] - 1s 326us/sample - loss: 0.0683 - accuracy: 0.9820
Epoch 18/100
2333/2333 [==============================] - ETA: 0s - loss: 0.0639 - accuracy: 0.98 - 1s 295us/sample - loss: 0.0653 - accuracy: 0.9811
Epoch 19/100
2333/2333 [==============================] - 1s 272us/sample - loss: 0.0620 - accuracy: 0.9816
Epoch 20/100
2333/2333 [==============================] - 1s 342us/sample - loss: 0.0617 - accuracy: 0.9811
Epoch 21/100
2333/2333 [==============================] - 1s 406us/sample - loss: 0.0598 - accuracy: 0.9807
Epoch 22/100
2333/2333 [==============================] - 1s 275us/sample - loss: 0.0495 - accuracy: 0.9850
Epoch 23/100
2333/2333 [==============================] - 1s 342us/sample - loss: 0.0482 - accuracy: 0.9863
Epoch 24/100
2333/2333 [==============================] - 1s 320us/sample - loss: 0.0464 - accuracy: 0.9854
Epoch 25/100
2333/2333 [==============================] - 1s 332us/sample - loss: 0.0421 - accuracy: 0.9871
Epoch 26/100
2333/2333 [==============================] - 1s 287us/sample - loss: 0.0408 - accuracy: 0.9884
Epoch 27/100
2333/2333 [==============================] - 1s 327us/sample - loss: 0.0351 - accuracy: 0.9919
Epoch 28/100
2333/2333 [==============================] - 1s 359us/sample - loss: 0.0345 - accuracy: 0.9901
Epoch 29/100
2333/2333 [==============================] - 1s 313us/sample - loss: 0.0291 - accuracy: 0.9927
Epoch 30/100
2333/2333 [==============================] - 1s 360us/sample - loss: 0.0302 - accuracy: 0.9906
Epoch 31/100
2333/2333 [==============================] - 1s 359us/sample - loss: 0.0263 - accuracy: 0.9914
Epoch 32/100
2333/2333 [==============================] - 1s 333us/sample - loss: 0.0257 - accuracy: 0.9931
Epoch 33/100
2333/2333 [==============================] - 1s 311us/sample - loss: 0.0238 - accuracy: 0.9936
Epoch 34/100
2333/2333 [==============================] - 1s 315us/sample - loss: 0.0229 - accuracy: 0.9919
Epoch 35/100
2333/2333 [==============================] - 1s 413us/sample - loss: 0.0210 - accuracy: 0.9944
Epoch 36/100
2333/2333 [==============================] - 1s 388us/sample - loss: 0.0176 - accuracy: 0.9966
Epoch 37/100
2333/2333 [==============================] - 1s 342us/sample - loss: 0.0177 - accuracy: 0.9957
Epoch 38/100
2333/2333 [==============================] - 1s 338us/sample - loss: 0.0194 - accuracy: 0.9957
Epoch 39/100
2333/2333 [==============================] - 1s 330us/sample - loss: 0.0152 - accuracy: 0.9979
Epoch 40/100
2333/2333 [==============================] - 1s 316us/sample - loss: 0.0133 - accuracy: 0.9974
Epoch 41/100
2333/2333 [==============================] - 1s 331us/sample - loss: 0.0124 - accuracy: 0.9979
Epoch 42/100
2333/2333 [==============================] - 1s 298us/sample - loss: 0.0122 - accuracy: 0.9987
Epoch 43/100
2333/2333 [==============================] - 1s 329us/sample - loss: 0.0115 - accuracy: 0.9996
Epoch 44/100
2333/2333 [==============================] - 1s 435us/sample - loss: 0.0110 - accuracy: 0.9987
Epoch 45/100
2333/2333 [==============================] - 1s 340us/sample - loss: 0.0109 - accuracy: 0.9991
Epoch 46/100
2333/2333 [==============================] - 1s 390us/sample - loss: 0.0089 - accuracy: 0.9991
Epoch 47/100
2333/2333 [==============================] - 1s 334us/sample - loss: 0.0071 - accuracy: 1.0000
Epoch 48/100
2333/2333 [==============================] - 1s 390us/sample - loss: 0.0092 - accuracy: 0.9991
Epoch 49/100
2333/2333 [==============================] - 1s 300us/sample - loss: 0.0069 - accuracy: 0.9996
Epoch 50/100
2333/2333 [==============================] - 1s 407us/sample - loss: 0.0061 - accuracy: 1.0000
Epoch 51/100
2333/2333 [==============================] - 1s 334us/sample - loss: 0.0054 - accuracy: 1.0000
Epoch 52/100
2333/2333 [==============================] - 1s 326us/sample - loss: 0.0050 - accuracy: 1.0000
Epoch 53/100
2333/2333 [==============================] - 1s 373us/sample - loss: 0.0046 - accuracy: 1.0000
Epoch 54/100
2333/2333 [==============================] - 1s 510us/sample - loss: 0.0041 - accuracy: 1.0000
Epoch 55/100
2333/2333 [==============================] - 1s 480us/sample - loss: 0.0037 - accuracy: 1.0000
Epoch 56/100
2333/2333 [==============================] - 1s 376us/sample - loss: 0.0032 - accuracy: 1.0000
Epoch 57/100
2333/2333 [==============================] - 1s 507us/sample - loss: 0.0032 - accuracy: 1.0000
Epoch 58/100
2333/2333 [==============================] - 1s 491us/sample - loss: 0.0031 - accuracy: 1.0000
Epoch 59/100
2333/2333 [==============================] - 1s 484us/sample - loss: 0.0029 - accuracy: 1.0000
Epoch 60/100
2333/2333 [==============================] - 1s 464us/sample - loss: 0.0027 - accuracy: 1.0000
Epoch 61/100
2333/2333 [==============================] - 1s 451us/sample - loss: 0.0025 - accuracy: 1.0000
Epoch 62/100
2333/2333 [==============================] - 1s 441us/sample - loss: 0.0023 - accuracy: 1.0000
Epoch 63/100
2333/2333 [==============================] - 1s 462us/sample - loss: 0.0023 - accuracy: 1.0000
Epoch 64/100
2333/2333 [==============================] - 1s 434us/sample - loss: 0.0021 - accuracy: 1.0000
Epoch 65/100
2333/2333 [==============================] - 1s 504us/sample - loss: 0.0019 - accuracy: 1.0000
Epoch 66/100
2333/2333 [==============================] - 1s 566us/sample - loss: 0.0019 - accuracy: 1.0000
Epoch 67/100
2333/2333 [==============================] - 1s 491us/sample - loss: 0.0018 - accuracy: 1.0000
Epoch 68/100
2333/2333 [==============================] - 1s 449us/sample - loss: 0.0016 - accuracy: 1.0000
Epoch 69/100
2333/2333 [==============================] - 1s 432us/sample - loss: 0.0015 - accuracy: 1.0000
Epoch 70/100
2333/2333 [==============================] - 1s 405us/sample - loss: 0.0015 - accuracy: 1.0000
Epoch 71/100
2333/2333 [==============================] - 1s 552us/sample - loss: 0.0015 - accuracy: 1.0000
Epoch 72/100
2333/2333 [==============================] - 1s 522us/sample - loss: 0.0013 - accuracy: 1.0000
Epoch 73/100
2333/2333 [==============================] - 1s 363us/sample - loss: 0.0012 - accuracy: 1.0000
Epoch 74/100
2333/2333 [==============================] - 1s 429us/sample - loss: 0.0012 - accuracy: 1.0000
Epoch 75/100
2333/2333 [==============================] - 1s 523us/sample - loss: 0.0011 - accuracy: 1.0000
Epoch 76/100

2333/2333 [==============================] - 1s 300us/sample - loss: 0.0012 - accuracy: 1.0000
Epoch 77/100
2333/2333 [==============================] - 1s 315us/sample - loss: 0.0010 - accuracy: 1.0000
Epoch 78/100
2333/2333 [==============================] - 1s 266us/sample - loss: 8.7886e-04 - accuracy: 1.0000
Epoch 79/100
2333/2333 [==============================] - 1s 344us/sample - loss: 9.9589e-04 - accuracy: 1.0000
Epoch 80/100
2333/2333 [==============================] - 1s 398us/sample - loss: 8.4962e-04 - accuracy: 1.0000
Epoch 81/100
2333/2333 [==============================] - 1s 392us/sample - loss: 7.2205e-04 - accuracy: 1.0000
Epoch 82/100
2333/2333 [==============================] - 1s 349us/sample - loss: 7.1711e-04 - accuracy: 1.0000
Epoch 83/100
2333/2333 [==============================] - 1s 316us/sample - loss: 6.9649e-04 - accuracy: 1.0000
Epoch 84/100
2333/2333 [==============================] - 1s 366us/sample - loss: 6.3499e-04 - accuracy: 1.0000
Epoch 85/100
2333/2333 [==============================] - 1s 388us/sample - loss: 6.2483e-04 - accuracy: 1.0000
Epoch 86/100
2333/2333 [==============================] - 1s 254us/sample - loss: 6.2978e-04 - accuracy: 1.0000
Epoch 87/100
2333/2333 [==============================] - 1s 299us/sample - loss: 6.2418e-04 - accuracy: 1.0000
Epoch 88/100
2333/2333 [==============================] - 0s 203us/sample - loss: 5.2278e-04 - accuracy: 1.0000
Epoch 89/100
2333/2333 [==============================] - 1s 232us/sample - loss: 4.8808e-04 - accuracy: 1.0000
Epoch 90/100
2333/2333 [==============================] - 1s 269us/sample - loss: 5.0436e-04 - accuracy: 1.0000
Epoch 91/100
2333/2333 [==============================] - 1s 255us/sample - loss: 4.5721e-04 - accuracy: 1.0000
Epoch 92/100
2333/2333 [==============================] - 1s 224us/sample - loss: 4.8638e-04 - accuracy: 1.0000
Epoch 93/100
2333/2333 [==============================] - 1s 249us/sample - loss: 4.2517e-04 - accuracy: 1.0000
Epoch 94/100
2333/2333 [==============================] - 1s 361us/sample - loss: 3.7520e-04 - accuracy: 1.0000
Epoch 95/100
2333/2333 [==============================] - 1s 349us/sample - loss: 3.6176e-04 - accuracy: 1.0000
Epoch 96/100
2333/2333 [==============================] - 0s 199us/sample - loss: 3.5870e-04 - accuracy: 1.0000
Epoch 97/100
2333/2333 [==============================] - 1s 227us/sample - loss: 3.4689e-04 - accuracy: 1.0000
Epoch 98/100
2333/2333 [==============================] - 0s 191us/sample - loss: 3.1618e-04 - accuracy: 1.0000
Epoch 99/100
2333/2333 [==============================] - 1s 241us/sample - loss: 3.1535e-04 - accuracy: 1.0000
Epoch 100/100
2333/2333 [==============================] - 0s 198us/sample - loss: 2.8894e-04 - accuracy: 1.0000

In [64]:
Y_train.unique()

array(['False.', 'True.'], dtype=object)

In [80]:
X_test_val = X_test.values

In [81]:
Y_test_val = Y_test.map({'True.':1.0,'False.':0.0}).values

In [90]:
classification = model.predict_classes(X_test_val)

In [91]:
print(confusion_matrix(Y_test_val,classification))

[[844  25]
 [ 42  89]]

In [92]:
print(classification_report(Y_test_val,classification))

              precision    recall  f1-score   support

         0.0       0.95      0.97      0.96       869
         1.0       0.78      0.68      0.73       131

    accuracy                           0.93      1000
   macro avg       0.87      0.83      0.84      1000
weighted avg       0.93      0.93      0.93      1000